@font-face {
    font-display:swap;
    font-family:"TT Satoshi";
    font-style:normal;
    font-weight:400;
    src:local("TT Satoshi"),
    url(fonts/tt-satoshi-regular.html) format("woff2"),
    url(fonts/tt-satoshi-regular-2.html) format("woff")
   }
   @font-face {
    font-display:swap;
    font-family:"TT Satoshi";
    font-style:normal;
    font-weight:600;
    src:local("TT Satoshi"),
    url(fonts/tt-satoshi-medium.html) format("woff2"),
    url(fonts/tt-satoshi-medium-2.html) format("woff")
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Disable text selection in WebKit browsers */
    -moz-user-select: none; /* Disable text selection in Firefox */
    -ms-user-select: none; /* Disable text selection in IE10+/Edge */
    user-select: none; /* Disable text selection in modern browsers */
}

.main_container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

.left_side{
    display: flex;
    background-color: rgb(238, 238, 238);
    flex-basis: 40%;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right_side {
    flex: 3 1 0%;
    background-color: rgb(246, 246, 246);
    height: 100vh;
    width: 100%;
}

.connect_device_bg {
    background: url(../imgs/onboarding-welcome-bg.svg)no-repeat center center;
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 3 1 0%;
    height: 100%;
    place-content: center;
    background-attachment: local;
    background-size: 570px 570px;
    align-items: center;
    overflow-y: auto;
}

.connect_device_left {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: white;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 16px 32px -16px;
    border-radius: 61px;
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.connect_device_text {
    font-size: 1.4rem;
    line-height: 1.75rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: rgb(31 31 31 / 1);
}

#svg_logo {
    max-width: 9.3%;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal {
    background-color: rgb(107 114 128 / 0.75);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    overflow: hidden;
    /* opacity: 0;
    visibility: hidden;
    user-select: none; */
    transition: .3s;
}

.modal.active {
    display: flex !important;
    opacity: 1 !important;
    visibility: visible !important;
    user-select: auto !important;
    transition: .3s;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.modal__inner {
    padding: 1.5rem;
    max-width: 32rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: white;
    width: 460px;
    min-height: 300px;
    display: flex;
}

.modal__block {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    display: none;
    flex: 1;
}

.modal__block.active {
    display: flex;
}

.modal__text {
    word-break: break-all;
    color: rgb(255 68 68 / 1);
    line-height: 1.3rem;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.modal__button {
    padding: 0px 44px;
    min-height: 64px;
    line-height: 22px;
    color: white;
    background: rgb(0, 133, 77);
    font-size: 20px;
    border-radius: 32px;
    vertical-align: middle;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    transition: background-color 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) 0s, color 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) 0s, border-color 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) 0s;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    outline: 0px;
    border: none;
    margin-top: 30px;
}

.modal__button:disabled {
    opacity: 0.8;
}

.modal__button:disabled:hover {
    opacity: 0.8;
}

.modal__button:hover {
    background: rgb(15, 97, 72);
}

.modal__lock {
    /* width: 40px; */
    height: 30px;
}

.modal__loader {
    width: 60px;
    height: 60px;
    border: 6px solid var(--green);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal__version {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__versions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    width: 80%;
}

.modal__version__up {
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 600;
    text-align: center;
}

.modal__version__bottom {
    margin-top: 13px;
    font-size: 15px;
    color: rgb(158 158 158);
    font-family: 'Roboto';
    font-weight: 400;
}

.modal__version__bottom--green {
    color: #59BE71;
    border-bottom: 1px dashed #59BE71 !important;
}

.modal__text-big {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

/* .modal__text-big__create-wallet {
    font-size: 30px;
} */

.modal__text--grey {
    color: #9D9D9D;
    margin-top: 10px;
    text-align: center;
    width: 60%;
    font-size: 15px;
    line-height: 20px;
}

.modal__items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.modal__item {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(79, 82, 75, 0.274);
    border-radius: 3px;
    font-weight: 600;
    height: 60px;
    cursor: pointer;
}

.modal__counts {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal__count {
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.25rem;
    border: 1px solid rgb(205 205 205 / 1);
    cursor: pointer;
}

.modal__count.active {
    border: 1px solid #5cb85c !important;
    background: #5cb85c !important;
    outline-color: #5cb85c !important;
    color: #fff;
}

.modal__seeds {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    row-gap: 8px;
    margin-top: 1rem;
}

.modal__seed {
    width: 30%;
    color: rgb(12 12 12 / 1);
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: rgb(12 12 12 / 1);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: rgb(205 205 205 / 1);
    background-color: rgb(255 255 255 / 1);
    border: 1px solid rgb(205 205 205 / 1);
    border-radius: 0.25rem;
    display: flex;
    height: 30px;
}

.modal__seed.error {
    border: 1px solid #EC9A9A;
}

.modal__seed.succes {
    border: 1px solid #69b161;
}

.modal__seed__input {
    width: 100%;
    border: none;
    outline: none;
    /* height: 30px; */
}

.modal__text--error {
    color: rgb(255 68 68 / 1);
    margin-top: 20px;
}

.modal__text--error.hidden {
    opacity: 0;
}

.modal__text--grey-big {
    color: rgb(108 108 108 / 1);
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 20px 0px 10px 0px;
    text-align: center;
}

.modal__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal__button__passphrase {
    width: 48%;
    min-height: 50px;
}

.modal__button__passphrase.red {
    background-color: #FF5754;
}

.modal__button__passphrase.red:hover {
    background-color: #e4514f;
}

.modal__passphrase {
    width: 100%;
    height: 30px;
    padding: 20px 20px;
    border: 2px solid #E1E1E1;
    border-radius: 5px;
    outline: none;
}

.modal__versions__arrow {
    width: 20px;
}

.modal__versions__arrow--animation {

    animation: animation-arrow 8s infinite;
}


/* .modal__loader {
    width: 60px;
    height: 60px;
    border: 6px solid var(--green);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
} */

@keyframes animation-arrow {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(200%);
    }
}
